# Env files
.env
*/.env
!.env.example
!*/.env.example

# Node
node_modules/
dist/
frontend/dist/
npm-debug.log*

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
